* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    place-items: center;
    background-color: yellow;
    height: 50vh;
    margin-bottom: 10px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110%; 
}

header nav .logo{
    font-size: 30px;
}

header nav .lista-link{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;    
}

header nav .lista-link .link-item{
    margin: 10px;
}

header .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: initial;
    width: 100%;
}

main{
    display: grid;
    place-items: center;
}

header .banner .intro .descricao-intro{
    width: 250px;
}

header .slider{
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

main .card-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

main .card-box .card{
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 10px 0;
}

main .card-box .card:first-child {
    background-image: url(images1/limpeza1.jpeg);
}

main .card-box .card:nth-child(2) {
    background-image: url(images1/limpeza2.jpeg);
}

main .card-box .card:nth-child(3) {
    background-image: url(images1/limpeza3.jpeg);
}

main .card-box .card:nth-child(4) {
    background-image: url(images1/seguranca1.jpeg);
}

main .card-box .card:nth-child(5) {
    background-image: url(images1/seguranca2.jpeg);
}

main .card-box .card:nth-child(6) {
    background-image: url(images1/seguranca3.jpeg);
}

.box-flutuante {
    background-color: greenyellow;
    height: 75px;
    max-width: calc(270px * 3 + 30px);
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    background-color: coral;
    align-items: center;
    margin-top: 25px
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    list-style-type: none;

}

footer ul li {
    margin: 0 9px;
}
